.signup-container.signup-container {
  background-image: url("./images/img-signup-bkg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}

.signin-container {
  background-image: url("./images/img-signin-bkg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}
.width {
  width: 100%;
}
.container {
  margin: 0 60px;
  padding: 0px;
}
.nav-css {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 18px;
  font-weight: 500;
}
.logout {
  margin-right: 20px;
}

.nav-css:focus {
  color: green !important;
}
.add-user {
  margin-top: 90px;
}
.add-ribon {
  margin-top: 80px;
}
.form_margin {
  margin-bottom: 20px;
  width: 80%;
}
.form_input {
  padding: 20px 10px;
  border-radius: 13px;
  font-size: 16px;
  font-weight: 500;
}
.form-control:focus {
  box-shadow: none;
  border: 1px solid rgba(7, 7, 163, 0.623);
  -webkit-box-shadow: none;
}
.form_inputt:focus {
  outline: none;
}

.edit-width {
  width: 20%;
}
.input-group-text {
  width: 100%;
}
.card_table {
  background-color: whitesmoke;

  border-radius: 10px;
}
.card_create {
  position: sticky;
  top: 70px;
  margin-left: 80px;
  background-color: whitesmoke;
  border-radius: 10px;
}
.table_m {
  margin-top: 70px;
  width: 1350px;
}

.table_text {
  background: rgba(178, 34, 34, 0.418);
  margin-bottom: 15px;
  border-radius: 20px;
  font-weight: 700;
  padding: 10px 0;
}
.table th {
  position: sticky;
  background: black;
  top: 0;
}

.table_header {
  background-color: rgba(0, 0, 0, 0.897);
  color: white;
}
.table_body {
  background-color: #fff;
  font-weight: 600;
  font-size: 16px;
}

.table-fixed {
  height: 430px;
  display: block;
  overflow-x: scroll;
}
.battery {
  background: rgba(238, 151, 151, 0.418);
}
.touch {
  background: rgba(22, 77, 228, 0.418);
}

.th_color {
  background: rgba(20, 19, 19, 0.295);
}

.td_color {
  background: rgba(29, 29, 2, 0.171);
  font-size: 16px;
  font-weight: 700;
}
.th_body {
  background: rgba(20, 19, 19, 0.295);
  font-size: 12px;
  font-weight: 500;
}

.editDisplay {
  margin: auto;
  margin-top: 70px;
}
